.thin-ui-light {
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
}
.thin-ui-dark {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 16px;
}
.thin-ui-textarea-code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}
.thin-ui-button,
.thin-ui-form input[type="submit"] {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    background-color: #ECF0F1;
    color: #333333;
    border: 0 none;
    border-radius: 2px;
    padding: 0 16px;
    margin: 2px;
    height: 34px;
    line-height: 34px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}
.thin-ui-button:hover,
.thin-ui-form input[type="submit"]:hover {
    background-color: #BDC3C7;
    text-decoration: none;
}
.thin-ui-button-primary {
    background-color: #1ABC9C;
    color: #FFFFFF;
}
.thin-ui-button-primary:hover {
    background-color: #16A085;
    color: #FFFFFF;
}
.thin-ui-button-neutral {
    background-color: #BDC3C7;
    color: #FFFFFF;
}
.thin-ui-button-neutral:hover {
    background-color: #95A5A6;
    color: #FFFFFF;
}
.thin-ui-dropdown {
    font-family: inherit;
    font-size: 0.95em;
    font-weight: 400;
    margin: 0;
    width: auto;
    height: 2.7em;
    line-height: 2.7em;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: #333333;
    border: 0 none;
    border-radius: 2px;
    box-shadow: inset 0.2px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 0 24px 0 10px;
    background: #ECF0F1 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI1NiAyNTYiIGhlaWdodD0iMjU2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB3aWR0aD0iMjU2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0zOC4zOTksNzYuOGMxLjYzNywwLDMuMjc0LDAuNjI1LDQuNTI0LDEuODc1bDg1LjA3NSw4NS4wNzZsODUuMDc1LTg1LjA3NmMyLjUtMi41LDYuNTUtMi41LDkuMDUsMHMyLjUsNi41NSwwLDkuMDUgIGwtODkuNiw4OS42MDFjLTIuNSwyLjUtNi41NTEsMi41LTkuMDUxLDBsLTg5LjYtODkuNjAxYy0yLjUtMi41LTIuNS02LjU1LDAtOS4wNUMzNS4xMjQsNzcuNDI1LDM2Ljc2Miw3Ni44LDM4LjM5OSw3Ni44eiIvPjwvc3ZnPg==') no-repeat 96%;
    background-size: 10px;
}
.thin-ui-dropdown::-ms-expand {
    /* for IE 11 */
    display: none;
}
.thin-ui-dropdown:focus {
    border: 0 none;
}
.thin-ui-dropdown:hover {
    color: #000000;
    background-color: #BDC3C7;
}
.thin-ui-checkbox {
    display: none;
}


.thin-ui-checkbox + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
.thin-ui-checkbox + label:before {
    content: "\f096";
}


.thin-ui-checkbox + label:before,
.thin-ui-checkbox:checked + label:before {
    width: 20px;
}


.thin-ui-checkbox:checked + label:before {
    content: "\f046";
}


.thin-ui-checkblock {
    display: none;
}
.thin-ui-checkblock + label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #ECF0F1;
    color: #444444;
    cursor: pointer;
    border: 1px solid #BDC3C7;
}
.thin-ui-checkblock + label:hover {
    background: #eeeeee;
    border: 1px solid black;
}
.thin-ui-checkblock:checked + label {
    background-color: #1ABC9C;
    color: #f0f0f0;
    border: 1px solid #1ABC9C;
}
.thin-ui-form input[type="password"],
.thin-ui-form input[type="number"],
.thin-ui-form input[type="email"],
.thin-ui-form input[type="text"],
.thin-ui-form input[type="url"],
.thin-ui-form textarea,
.thin-ui-input {
    box-shadow: inset 0.2px 2px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #ECF0F1;
    height: 34px;
    line-height: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    border: 0 none;
    border-radius: 2px;
    padding: 0 24px 0 10px;
    margin: 2px;
}
.thin-ui-form input[type="number"],
.thin-ui-select {
    width: auto;
}
.thin-ui-form textarea,
.thin-ui-textarea {
    padding: 8px 24px 8px 10px;
    width: 100%;
    height: auto;
}
.thin-ui-form label {
    display: block;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}

.thin-ui-select {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
    padding: 8px 8px;

    background-color: #ECF0F1;
    border: 1px solid #BDC3C7;
    border-radius: 3px;
    box-shadow: inset 0.2px 2px 3px rgba(0, 0, 0, 0.1);
}
.thin-ui-select:hover,
.thin-ui-select:active,
.thin-ui-select:focus {
    border: 1px solid #34495E;
}
